# NSDUH Drug Sequence Analysis Part 3:  Chi-Square Analysis
## Matthew J. Beattie
## University of Oklahoma
__February 5, 2021__

This notebook does a deeper dive on Chi-Square analysis of the clusters with regard to their demographic categories.

In [1]:
"""
Import python modules
"""
import pandas as pd
import numpy as np
import copy
import os
import pathlib, itertools
import time as timelib
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin
import random
from sklearn_extra import cluster as cs
from sklearn.cluster import KMeans
import pickle
import json
import pathutils as pu
import scipy.stats as stats
from math import dist
import mlflow

# Parallelize pandas with modin and dash
#import modin.pandas as pd

HOME_DIR = pathlib.Path.home()
CW_DIR = pathlib.Path.cwd()

FIGW = 12
FIGH = 5
FONTSIZE = 8
FIGURESIZE = (FIGW,FIGH)

plt.rcParams['figure.figsize'] = (FIGW, FIGH)
plt.rcParams['font.size'] = FONTSIZE

plt.rcParams['xtick.labelsize'] = FONTSIZE
plt.rcParams['ytick.labelsize'] = FONTSIZE

random.seed(660806)

### Import Data
Import data from pickle files and prepare for analysis

In [4]:
# Set parameters
datapath = 'C:/Users/mjbea/OneDrive/GitHub/abuse_sequence/Data3/'
workingpath = 'C:/Users/mjbea/OneDrive/GitHub/abuse_sequence/Code3/'
outpath = 'C:/Users/mjbea/OneDrive/GitHub/abuse_sequence/Output3/'
year = '2016_2017_2018_2019'
jsondict = datapath + 'NSDUH_field.json'
n_clusters = 11

# Setup filenames
clustpkl = workingpath + 'Kmeans_' + str(n_clusters) + 'clust_' + str(year) + '_nonullpath_clust.pkl'
demogpkl = workingpath + 'Kmeans_' + str(n_clusters) + 'clust_' + str(year) + '_nonullpath_demog.pkl'
modpkl = workingpath + 'Kmeans_' + str(n_clusters) + 'clust_' + str(year) + '_nonullpath_model.pkl'

# Read in cluster and demographic information and the model
dfclust = pd.read_pickle(clustpkl)
dfdemog = pd.read_pickle(demogpkl)
model = pickle.load(open(modpkl, 'rb'))

# Drug name and indices are called by a user-defined function.
ident, rawafuvals, afuvals, drugnames, drugorder, drugnums, drugposition, startdemog, demographics = pu.surveyvars(year)

# Decode dictionaries for NSDUH variables:
f1 = open(jsondict, 'r')
nsduhDecoder = json.load(f1)
f1.close()

In [5]:
strings = 0
ints = 0
selse = 0
for i in range(0,len(dfclust['RESPID'])):
    if type(dfclust['RESPID'][i])==str:
        strings += 1
    elif type(dfclust['RESPID'][i])==int:
        ints += 1
    else:
        selse += 1
print(strings, ints, selse)

170944 0 0

In [7]:
model.inertia_

45120796010121.57

### Review data and key variables

In [8]:
# Show cluster dataframe
dfclust['HEROIN_USER'] = dfclust.apply(lambda row: 'Heroin User' if (row['AFUVECT'][8] > 0 and row['AFUVECT'][8] < 991) else 'Not Heroin User', axis=1)
dfclust.head()

,RESPID,AFUVECT,YRWEIGHT,labels,HEROIN_USER
0,201611635143.0,"[0, 16, 15, 20, 991, 991, 991, 991, 991, 991]",204.858562,3,Not Heroin User
1,201635755143.0,"[0, 26, 16, 991, 991, 991, 991, 991, 991, 991]",2533.458396,0,Not Heroin User
2,201692675143.0,"[0, 5, 18, 32, 34, 991, 991, 991, 991, 991]",6203.973093,10,Not Heroin User
3,201659596143.0,"[0, 991, 14, 991, 991, 991, 991, 991, 991, 991]",1386.672703,2,Not Heroin User
4,201641106143.0,"[0, 991, 991, 991, 991, 991, 991, 991, 991, 991]",2384.841656,5,Not Heroin User

In [9]:
dfclust['HEROIN_USER'].value_counts()

Not Heroin User    167088
Heroin User          3856
Name: HEROIN_USER, dtype: int64

In [10]:
# Show demographic dataframe
dfdemog.head()

,RESPID,CATAG6,SVCFLAG,IRSEX,IRMARIT,NEWRACE2,EDUHIGHCAT,IRWRKSTAT,GOVTPROG,INCOME,COUTYP4,AIIND102,YRWEIGHT,labels
0,201611635143.0,3,0,2,1,1,4,4,2,4,3,2,204.858562,3
1,201635755143.0,4,0,1,1,7,1,3,2,2,1,2,2533.458396,0
2,201692675143.0,6,0,2,1,1,3,2,2,3,1,2,6203.973093,10
3,201659596143.0,3,0,1,1,5,4,4,2,2,2,2,1386.672703,2
4,201641106143.0,5,0,1,2,1,2,4,2,2,2,2,2384.841656,5

In [11]:
# Show category values for demographic variables
nsduhDecoder

{'CATAG6': {'values': {'1': 'Youth',
   '2': '18-25',
   '3': '26-34',
   '4': '35-49',
   '5': '50-64',
   '6': '65+'}},
 'SVCFLAG': {'values': {'1': 'Military service', '0': 'No military service'}},
 'AGE2': {'values': {'1': '12',
   '2': '13',
   '3': '14',
   '4': '15',
   '5': '16',
   '6': '17',
   '7': '18',
   '8': '19',
   '9': '20',
   '10': '21',
   '11': '22 or 23',
   '12': '24 or 25',
   '13': '26 - 29',
   '14': '30 - 34',
   '15': '35 - 49',
   '16': '50 - 64',
   '17': '65+'}},
 'IRSEX': {'values': {'1': 'Male', '2': 'Female'}},
 'IRMARIT': {'values': {'1': 'Married',
   '2': 'Widowed',
   '3': 'Divorced/Sep',
   '4': 'Never Married',
   '99': 'Youth'}},
 'NEWRACE2': {'values': {'1': 'NonHisp White',
   '2': 'NonHisp Black',
   '3': 'NonHisp NatAmer',
   '4': 'NonHisp HI/PI',
   '5': 'NonHisp Asian',
   '6': 'NonHisp >1 Race',
   '7': 'Hispanic'}},
 'EDUHIGHCAT': {'values': {'1': '< High School',
   '2': 'HS Grad',
   '3': 'Some Coll',
   '4': 'Coll Grad',
   '5': 'Youth'}},
 'IRWRKSTAT': {'values': {'1': 'Empl Full Time',
   '2': 'Empl Part Time',
   '3': 'Unemployed',
   '4': 'Other',
   '99': 'Youth'}},
 'GOVTPROG': {'values': {'1': 'Yes', '2': 'No'}},
 'INCOME': {'values': {'1': '<20k',
   '2': '20k-49999',
   '3': '50k-74999',
   '4': '>75k'}},
 'COUTYP4': {'values': {'1': 'Large Metro',
   '2': 'Small Metro',
   '3': 'Nonmetro'}},
 'AIIND102': {'values': {'1': 'Amer Ind Area', '2': 'Not Amer Ind Area'}}}

In [12]:
catcrossnorm = pd.crosstab(index=dfclust['labels'], columns=['Percentage'], normalize='columns')
catcrossnorm

col_0   Percentage
labels
0         0.178205
1         0.057487
2         0.170179
3         0.205254
4         0.056674
5         0.113838
6         0.062541
7         0.055451
8         0.036217
9         0.026962
10        0.037193

In [9]:
# Set output file variables
jsonout = outpath + 'Kmeans_' + str(n_clusters) + 'clust_' + str(year) + '_alldata_clust_stats.json'
outfile = outpath + 'Kmeans_' + str(n_clusters) + 'clust_' + str(year) + '_chi2_output.txt'
outfile2 = outpath + 'Kmeans_' + str(n_clusters) + 'clust_' + str(year) + '_crosstab_latex.txt'
csvout = outpath + 'Kmeans_' + str(n_clusters) + 'clust_' + str(year) + '_ranked_chi2.csv'

# Calculate medoids from cluster model and store center and medoids into a dataframe and dictionary for output to json
clustsmrydf = pd.DataFrame()
tempdict = {}
medoids = []
for j in range(0, len(model.cluster_centers_)):
    clustcenter = model.cluster_centers_[j]
    clust = dfclust.loc[dfclust['labels']==j,:]
    intcenter = np.array(clustcenter, dtype=int)
    if clust.shape[0] > 0:
        clust['distfrommean'] = clust.apply(lambda row: dist(np.array(row['AFUVECT']), clustcenter), axis=1)
        count = clust.shape[0]
        clustfrac = round(clust.shape[0]/dfclust.shape[0],5)
        medoid = clust.loc[clust['distfrommean'].idxmin()]['AFUVECT']
        medoids.append(medoid)
        path = pu.uncodevect(medoid, drugnames)
        clustsmrydf = clustsmrydf.append({'clustnum': j, 'count': count, 'clustfrac': clustfrac, 'center': clustcenter, 
                                          'intcenter': intcenter, 'medoid': medoid, 'path': path}, ignore_index=True)
        tempdict.update({j: {'count': count, 'clustfrac': clustfrac, 'center': clustcenter.tolist(), 'intcenter': intcenter.tolist(), 'medoid': medoid, 'path': path}})
    else:
        clustsmrydf = clustsmrydf.append({'clustnum': j, 'count': 0, 'clustfrac': 0, 'center': clustcenter, 'intcenter': intcenter, 'medoid': 'NA', 'path': 'NA'}, ignore_index=True)
        tempdict.update({j: {'count': 0, 'clustfrac': 0, 'center': clustcenter.tolist(), 'intcenter': intcenter.tolist(), 'medoid': 'NA', 'path': 'NA'}})

# Save cluster dictionary to json file
with open(jsonout,'w') as cluststats_dumped:
    json.dump(tempdict,cluststats_dumped, indent = 4, sort_keys = True)

cluststats_dumped.close()

C:\Users\mjbea\anaconda3\envs\py38\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [10]:
# Print cluster summary output leave file open for crosstabs
f = open(outfile, 'w')

# Open latex output file
f2 = open(outfile2, 'w')

print('\n******\nCLUSTER CENTERS\n******', file=f)
print(model.cluster_centers_, file=f)
print('\n******\n INTEGER CLUSTER CENTERS\n******', file=f)
print(np.array(model.cluster_centers_, dtype='int'), file=f)
print('\n******\n CLUSTER MEDOIDS\n******\n', file=f)
print(medoids, file=f)
print('\n******\nCLUSTER ITERATIONS\n******', file=f)
print(model.n_iter_, file=f)
print('\n******\nCLUSTER INERTIA\n******', file=f)
print(model.inertia_, file=f)

# Print out cluster pathways and save translation to a list
print('\n******\nKNN CLUSTER PATHWAYS\n******', file=f)
centerpaths = []
i = 0
for i in range(0, len(model.cluster_centers_)):
    path = pu.uncodevect(model.cluster_centers_[i], drugnames)
    print('Cluster ', i, '\n', path, file=f)
    centerpaths.append(path)
    
# Print out cluster pathways and save translation to a list
print('\n******\nKNN PSUDEO-CLUSTER PATHWAYS\n******', file=f)
centerpaths = []
i = 0
for i in range(0, len(model.cluster_centers_)):
    path = pu.uncodevect(model.cluster_centers_[i], drugnames)
    path = [item for item in path if item[1] < 99]
    print('Cluster ', i, '\n', path, file=f)
    centerpaths.append(path)
    
print('\n******\nPSUEDO-MEDOID CLUSTER PATHWAYS\n******', file=f)
centerpaths = []
i = 0
for i in range(0, len(model.cluster_centers_)):
    path = pu.uncodevect(medoids[i], drugnames)
    print('Cluster ', i, '\n', path, file=f)
    centerpaths.append(path)
    
print('\n******\nCLUSTER RAW COUNTS\n******', file=f)
print(dfclust['labels'].value_counts(), file=f)

print('\n******\nCLUSTER PERCENTAGES\n******', file=f)
print(pd.crosstab(index=dfclust['labels'], columns=['Percentage'], normalize='columns'), file=f)
print('Fraction of respondents by cluster:', file=f2)
print(pd.crosstab(index=dfclust['labels'], columns=['Percentage'], normalize='columns').to_latex(), file=f2)

print('\n******\nEND OF SECTION\n******\n', file=f)

### Generate categorical crosstabs
The demographic dataset needs to be converted to crosstabs for chi-square analysis

In [11]:
# Convert fields in the demographic database to category variables.
catvars = copy.deepcopy(demographics)
catvars.remove('AGE2')
catvars.remove('RESPID')

# Create a new dataframe for translation of categorical values into
# reader friendly values from the NSDUH dictionary.
# Youth dictionary values are not considered.
tmpdf = copy.deepcopy(dfdemog)
pipeprep = Pipeline([('makecats', pu.MakeCat(catvars))])
tmpdf = pipeprep.transform(tmpdf)

for fieldname in tmpdf.columns:
    newvallist = []
    if fieldname != 'RESPID' and fieldname != 'labels':
        for key, value in nsduhDecoder[fieldname]['values'].items():
            if value != "Youth":
                newvallist.append(value)
        tmpdf[fieldname].cat.categories = newvallist

### Run Chi-square analysis
Run chi2 for each demographic variable.  Calculate chi2 values for the individual cells and store their values along with the fraction of the total table chi2.  Call this last statistic _INFLUENCE_.

In [12]:
# Initialize individual chi2 dataframe
indchi2df = pd.DataFrame(columns = ['TABLE', 'VALUE', 'CLUSTER', 'OBSERVED', 'EXPECTED', 'DIFF', 'INDCHI2', 'INFLUENCE'])

print('\n*****\nCROSSTABS AND CHISQUARE TEST RESULTS\n*****\n', file=f)
for item in catvars:
    catcross = pd.crosstab(index=tmpdf['labels'], columns=tmpdf[item])
    catcrossnorm = pd.crosstab(index=tmpdf['labels'], columns=tmpdf[item], normalize='columns')
    chi2, p, dof, ex = stats.chi2_contingency(catcross)
    print('\n******', item, '******\n', file=f)
    print('CROSSTAB COLUMN PERCENTAGES', file=f)
    print(catcrossnorm, '\n', file=f)
    print(catcrossnorm.to_latex(index=False), '\n', file=f2)
    print('CHI SQUARE RESULTS', file=f)
    print('CHI2 value: ', chi2, 'p-value: ', p, 'Degrees of freedom: ', dof, '\n', file=f)

    # Write individual chi2 to table
    rowcnt, colcnt = catcross.shape[0], catcross.shape[1]
    for i in range(0, rowcnt):
        newrow = []
        for j in range(0, colcnt):
            table = item
            value = catcross.columns[j]
            observed = catcross.loc[i][j]
            expected = ex[i,j]
            diff = observed - expected
            indchi2 = (catcross.loc[i][j] - ex[i,j])**2/ex[i,j]
            dftmp = {'TABLE': table, 'VALUE': value, 'CLUSTER': i, 'OBSERVED': observed, 'EXPECTED': expected,
                     'DIFF': diff, 'INDCHI2': indchi2, 'INFLUENCE': indchi2/chi2}
            indchi2df = indchi2df.append(dftmp, ignore_index = True)

In [13]:
# Duplicate process for heroin use
catcross = pd.crosstab(index=dfclust['labels'], columns=dfclust['HEROIN_USER'])
catcrossnorm = pd.crosstab(index=dfclust['labels'], columns=dfclust['HEROIN_USER'], normalize='columns')
chi2, p, dof, ex = stats.chi2_contingency(catcross)
print('\n******', item, '******\n', file=f)
print('HEROIN USE CROSSTAB COLUMN PERCENTAGES', file=f)
print(catcrossnorm, '\n', file=f)
print(catcrossnorm.to_latex(index=False), '\n', file=f2)
print('CHI SQUARE RESULTS', file=f)
print('CHI2 value: ', chi2, 'p-value: ', p, 'Degrees of freedom: ', dof, '\n', file=f)

# Write individual chi2 to table for heroin use
rowcnt, colcnt = catcross.shape[0], catcross.shape[1]
for i in range(0, rowcnt):
    newrow = []
    for j in range(0, colcnt):
        table = 'HEROIN_USE'
        value = catcross.columns[j]
        observed = catcross.loc[i][j]
        expected = ex[i,j]
        diff = observed - expected
        indchi2 = (catcross.loc[i][j] - ex[i,j])**2/ex[i,j]
        dftmp = {'TABLE': table, 'VALUE': value, 'CLUSTER': i, 'OBSERVED': observed, 'EXPECTED': expected,
                 'DIFF': diff, 'INDCHI2': indchi2, 'INFLUENCE': indchi2/chi2}
        indchi2df = indchi2df.append(dftmp, ignore_index = True)

In [14]:
indchi2df.head()

,TABLE,VALUE,CLUSTER,OBSERVED,EXPECTED,DIFF,INDCHI2,INFLUENCE
0,SVCFLAG,Military service,0,27425,28674.810839,-1249.810839,54.473843,0.025564
1,SVCFLAG,No military service,0,3047,1797.189161,1249.810839,869.150096,0.407879
2,SVCFLAG,Military service,1,32644,33017.625620,-373.625620,4.227927,0.001984
3,SVCFLAG,No military service,1,2443,2069.374380,373.625620,67.458119,0.031657
4,SVCFLAG,Military service,2,18623,17854.003217,768.996783,33.121762,0.015544

### Rank the entries in the chi-square crosstab
To find the individual cells in the chi2 crosstab with the most influence, rank them by chi2 score.

In [15]:
indchi2df['rank'] = indchi2df.groupby('TABLE')['INDCHI2'].rank(method="first", ascending=False)
indchi2df.to_csv(csvout)
pd.set_option('max_rows', 100)
indchi2df.head(100)

,TABLE,VALUE,CLUSTER,OBSERVED,EXPECTED,DIFF,INDCHI2,INFLUENCE,rank
0,SVCFLAG,Military service,0,27425,28674.810839,-1249.810839,54.473843,0.025564,6.0
1,SVCFLAG,No military service,0,3047,1797.189161,1249.810839,869.150096,0.407879,1.0
2,SVCFLAG,Military service,1,32644,33017.625620,-373.625620,4.227927,0.001984,15.0
3,SVCFLAG,No military service,1,2443,2069.374380,373.625620,67.458119,0.031657,5.0
4,SVCFLAG,Military service,2,18623,17854.003217,768.996783,33.121762,0.015544,8.0
5,SVCFLAG,No military service,2,350,1118.996783,-768.996783,528.469841,0.248003,2.0
6,SVCFLAG,Military service,3,28057,27368.672829,688.327171,17.311555,0.008124,10.0
7,SVCFLAG,No military service,3,1027,1715.327171,-688.327171,276.212202,0.129622,3.0
8,SVCFLAG,Military service,4,5268,5230.198170,37.801830,0.273217,0.000128,22.0
9,SVCFLAG,No military service,4,290,327.801830,-37.801830,4.359275,0.002046,14.0
10,SVCFLAG,Military service,5,8351,8423.084531,-72.084531,0.616897,0.000290,20.0
11,SVCFLAG,No military service,5,600,527.915469,72.084531,9.842825,0.004619,13.0
12,SVCFLAG,Military service,6,5436,5542.617348,-106.617348,2.050883,0.000962,18.0
13,SVCFLAG,No military service,6,454,347.382652,106.617348,32.722587,0.015356,9.0
14,SVCFLAG,Military service,7,5784,5899.264543,-115.264543,2.252131,0.001057,17.0
15,SVCFLAG,No military service,7,485,369.735457,115.264543,35.933570,0.016863,7.0
16,SVCFLAG,Military service,8,9691,9378.221476,312.778524,10.431659,0.004895,12.0
17,SVCFLAG,No military service,8,275,587.778524,-312.778524,166.440932,0.078108,4.0
18,SVCFLAG,Military service,9,9340,9323.642222,16.357778,0.028699,0.000013,24.0
19,SVCFLAG,No military service,9,568,584.357778,-16.357778,0.457899,0.000215,21.0
20,SVCFLAG,Military service,10,5879,5816.454640,62.545360,0.672561,0.000316,19.0
21,SVCFLAG,No military service,10,302,364.545360,-62.545360,10.730961,0.005036,11.0
22,SVCFLAG,Military service,11,4364,4333.404565,30.595435,0.216015,0.000101,23.0
23,SVCFLAG,No military service,11,241,271.595435,-30.595435,3.446599,0.001617,16.0
24,CATAG6,18-25,0,6698,9868.853753,-3170.853753,1018.792433,0.079182,3.0
25,CATAG6,26-34,0,5661,6226.880756,-565.880756,51.425592,0.003997,37.0
26,CATAG6,35-49,0,9081,8092.342428,988.657572,120.786262,0.009388,26.0
27,CATAG6,50-64,0,3669,3575.126544,93.873456,2.464871,0.000192,58.0
28,CATAG6,65+,0,5363,2708.796518,2654.203482,2600.710713,0.202131,1.0
29,CATAG6,18-25,1,10721,11363.496707,-642.496707,36.327024,0.002823,43.0
30,CATAG6,26-34,1,7906,7169.945035,736.054965,75.562213,0.005873,31.0
31,CATAG6,35-49,1,9975,9317.931831,657.068169,46.334164,0.003601,39.0
32,CATAG6,50-64,1,4289,4116.581290,172.418710,7.221578,0.000561,55.0
33,CATAG6,65+,1,2196,3119.045138,-923.045138,273.164475,0.021231,12.0
34,CATAG6,18-25,2,8382,6144.715223,2237.284777,814.593190,0.063311,5.0
35,CATAG6,26-34,2,2857,3877.087444,-1020.087444,268.391778,0.020860,13.0
36,CATAG6,35-49,2,4037,5038.593229,-1001.593229,199.101009,0.015474,20.0
37,CATAG6,50-64,2,1703,2226.006692,-523.006692,122.881931,0.009551,25.0
38,CATAG6,65+,2,1994,1686.597412,307.402588,56.027805,0.004355,35.0
39,CATAG6,18-25,3,9777,9419.327335,357.672665,13.581621,0.001056,50.0
40,CATAG6,26-34,3,5730,5943.246256,-213.246256,7.651368,0.000595,54.0
41,CATAG6,35-49,3,7697,7723.736124,-26.736124,0.092549,0.000007,60.0
42,CATAG6,50-64,3,3120,3412.279483,-292.279483,25.035258,0.001946,47.0
43,CATAG6,65+,3,2760,2585.410801,174.589199,11.789766,0.000916,52.0
44,CATAG6,18-25,4,1650,1800.048870,-150.048870,12.507807,0.000972,51.0
45,CATAG6,26-34,4,1497,1135.764086,361.235914,114.893037,0.008930,27.0
46,CATAG6,35-49,4,1708,1476.018614,231.981386,36.459813,0.002834,42.0
47,CATAG6,50-64,4,602,652.092194,-50.092194,3.847965,0.000299,57.0
48,CATAG6,65+,4,101,494.076235,-393.076235,312.722847,0.024305,9.0
49,CATAG6,18-25,5,2608,2898.927210,-290.927210,29.196539,0.002269,46.0
50,CATAG6,26-34,5,2197,1829.115570,367.884430,73.991472,0.005751,32.0
51,CATAG6,35-49,5,2172,2377.085753,-205.085753,17.694005,0.001375,49.0
52,CATAG6,50-64,5,1520,1050.175824,469.824176,210.188382,0.016336,17.0
53,CATAG6,65+,5,454,795.695643,-341.695643,146.734387,0.011404,23.0
54,CATAG6,18-25,6,1087,1907.572480,-820.572480,352.982234,0.027434,7.0
55,CATAG6,26-34,6,1495,1203.607497,291.392503,70.545914,0.005483,33.0
56,CATAG6,35-49,6,2173,1564.186693,608.813307,236.962534,0.018417,16.0
57,CATAG6,50-64,6,932,691.044085,240.955915,84.017437,0.006530,29.0
58,CATAG6,65+,6,203,523.589246,-320.589246,196.294071,0.015256,21.0
59,CATAG6,18-25,7,1256,2030.317806,-774.317806,295.307495,0.022952,11.0
60,CATAG6,26-34,7,1263,1281.055246,-18.055246,0.254471,0.000020,59.0
61,CATAG6,35-49,7,1783,1664.836397,118.163603,8.386792,0.000652,53.0
62,CATAG6,50-64,7,1585,735.510249,849.489751,981.132266,0.076255,4.0
63,CATAG6,65+,7,382,557.280302,-175.280302,55.130577,0.004285,36.0
64,CATAG6,18-25,8,5194,3227.651500,1966.348500,1197.938013,0.093105,2.0
65,CATAG6,26-34,8,1752,2036.528407,-284.528407,39.752166,0.003090,41.0
66,CATAG6,35-49,8,1631,2646.635752,-1015.635752,389.746107,0.030292,6.0
67,CATAG6,50-64,8,975,1169.260670,-194.260670,32.274418,0.002508,45.0
68,CATAG6,65+,8,414,885.923671,-471.923671,251.389548,0.019538,14.0
69,CATAG6,18-25,9,3599,3208.867255,390.132745,47.432177,0.003686,38.0
70,CATAG6,26-34,9,2420,2024.676245,395.323755,77.188080,0.005999,30.0
71,CATAG6,35-49,9,2854,2631.232895,222.767105,18.860050,0.001466,48.0
72,CATAG6,50-64,9,669,1162.455822,-493.455822,209.469163,0.016280,18.0
73,CATAG6,65+,9,366,880.767784,-514.767784,300.857815,0.023383,10.0
74,CATAG6,18-25,10,2644,2001.817572,642.182428,206.011915,0.016012,19.0
75,CATAG6,26-34,10,1559,1263.072655,295.927345,69.333298,0.005389,34.0
76,CATAG6,35-49,10,1401,1641.466545,-240.466545,35.227132,0.002738,44.0
77,CATAG6,50-64,10,393,725.185651,-332.185651,152.164217,0.011826,22.0
78,CATAG6,65+,10,184,549.457577,-365.457577,243.074709,0.018892,15.0
79,CATAG6,18-25,11,1747,1491.404290,255.595710,43.803794,0.003404,40.0
80,CATAG6,26-34,11,595,941.020802,-346.020802,127.234590,0.009889,24.0
81,CATAG6,35-49,11,885,1222.933739,-337.933739,93.381357,0.007258,28.0
82,CATAG6,50-64,11,599,540.281496,58.718504,6.381604,0.000496,56.0
83,CATAG6,65+,11,779,409.359673,369.640327,333.774868,0.025941,8.0
84,IRSEX,Male,0,15946,14250.059388,1695.940612,201.838777,0.041709,10.0
85,IRSEX,Female,0,14526,16221.940612,-1695.940612,177.303975,0.036639,13.0
86,IRSEX,Male,1,17147,16408.238177,738.761823,33.261891,0.006873,21.0
87,IRSEX,Female,1,17940,18678.761823,-738.761823,29.218694,0.006038,22.0
88,IRSEX,Male,2,7430,8872.616722,-1442.616722,234.557975,0.048470,7.0
89,IRSEX,Female,2,11543,10100.383278,1442.616722,206.045944,0.042578,8.0
90,IRSEX,Male,3,10148,13600.968996,-3452.968996,876.628341,0.181149,1.0
91,IRSEX,Female,3,18936,15483.031004,3452.968996,770.068527,0.159129,2.0
92,IRSEX,Male,4,3460,2599.167435,860.832565,285.103874,0.058915,5.0
93,IRSEX,Female,4,2098,2958.832565,-860.832565,250.447664,0.051753,6.0
94,IRSEX,Male,5,5083,4185.884799,897.115201,192.268952,0.039731,11.0
95,IRSEX,Female,5,3868,4765.115201,-897.115201,168.897424,0.034901,14.0
96,IRSEX,Male,6,3506,2754.425367,751.574633,205.075235,0.042377,9.0
97,IRSEX,Female,6,2384,3135.574633,-751.574633,180.147021,0.037226,12.0
98,IRSEX,Male,7,3296,2931.662585,364.337415,45.278659,0.009357,17.0
99,IRSEX,Female,7,2973,3337.337415,-364.337415,39.774747,0.008219,18.0

In [16]:
pd.reset_option('max_rows')

In [17]:
topindchi2 = indchi2df[indchi2df['rank']<=5]
topindchi2.head(100)

,TABLE,VALUE,CLUSTER,OBSERVED,EXPECTED,DIFF,INDCHI2,INFLUENCE,rank
1,SVCFLAG,No military service,0,3047,1797.189161,1249.810839,869.150096,0.407879,1.0
3,SVCFLAG,No military service,1,2443,2069.374380,373.625620,67.458119,0.031657,5.0
5,SVCFLAG,No military service,2,350,1118.996783,-768.996783,528.469841,0.248003,2.0
7,SVCFLAG,No military service,3,1027,1715.327171,-688.327171,276.212202,0.129622,3.0
17,SVCFLAG,No military service,8,275,587.778524,-312.778524,166.440932,0.078108,4.0
24,CATAG6,18-25,0,6698,9868.853753,-3170.853753,1018.792433,0.079182,3.0
28,CATAG6,65+,0,5363,2708.796518,2654.203482,2600.710713,0.202131,1.0
34,CATAG6,18-25,2,8382,6144.715223,2237.284777,814.593190,0.063311,5.0
62,CATAG6,50-64,7,1585,735.510249,849.489751,981.132266,0.076255,4.0
64,CATAG6,18-25,8,5194,3227.651500,1966.348500,1197.938013,0.093105,2.0
90,IRSEX,Male,3,10148,13600.968996,-3452.968996,876.628341,0.181149,1.0
91,IRSEX,Female,3,18936,15483.031004,3452.968996,770.068527,0.159129,2.0
92,IRSEX,Male,4,3460,2599.167435,860.832565,285.103874,0.058915,5.0
100,IRSEX,Male,8,3349,4660.543839,-1311.543839,369.087235,0.076269,3.0
101,IRSEX,Female,8,6617,5305.456161,1311.543839,324.222308,0.066998,4.0
108,IRMARIT,Married,0,15815,12484.065238,3330.934762,888.743064,0.113023,2.0
109,IRMARIT,Widowed,0,1567,906.437898,660.562102,481.381341,0.061218,5.0
111,IRMARIT,Never Married,0,9631,13822.598605,-4191.598605,1271.070612,0.161644,1.0
134,IRMARIT,Divorced/Sep,6,1218,629.919623,588.080377,549.020093,0.069820,4.0
143,IRMARIT,Never Married,8,6330,4520.740933,1809.259067,724.088910,0.092084,3.0
170,NEWRACE2,NonHisp White,2,7009,11420.715129,-4411.715129,1704.204173,0.111847,2.0
171,NEWRACE2,NonHisp Black,2,3760,2395.043798,1364.956202,777.900360,0.051054,5.0
174,NEWRACE2,NonHisp Asian,2,2228,912.889163,1315.110837,1894.552576,0.124340,1.0
176,NEWRACE2,Hispanic,2,5119,3259.430521,1859.569479,1060.921110,0.069629,3.0
213,NEWRACE2,NonHisp Black,8,2275,1258.051257,1016.948743,822.052950,0.053952,4.0
248,EDUHIGHCAT,< High School,2,4566,2392.491038,2173.508962,1974.570075,0.256250,1.0
251,EDUHIGHCAT,Coll Grad,2,3338,5175.998309,-1837.998309,652.673665,0.084701,3.0
255,EDUHIGHCAT,Coll Grad,3,9542,7934.366459,1607.633541,325.733077,0.042272,5.0
284,EDUHIGHCAT,< High School,11,1357,580.689466,776.310534,1037.831891,0.134685,2.0
287,EDUHIGHCAT,Coll Grad,11,460,1256.283783,-796.283783,504.717064,0.065500,4.0
295,IRWRKSTAT,Other,1,7365,9201.757868,-1836.757868,366.634236,0.049399,4.0
296,IRWRKSTAT,Empl Full Time,2,6182,9923.465913,-3741.465913,1410.653022,0.190065,2.0
299,IRWRKSTAT,Other,2,7769,4975.773136,2793.226864,1568.020908,0.211268,1.0
332,IRWRKSTAT,Empl Full Time,11,1507,2408.557452,-901.557452,337.465830,0.045469,5.0
335,IRWRKSTAT,Other,11,2048,1207.686465,840.313535,584.693841,0.078779,3.0
336,GOVTPROG,Yes,0,5014,6058.249438,-1044.249438,179.995377,0.086726,5.0
340,GOVTPROG,Yes,2,4604,3772.091316,831.908684,183.471714,0.088401,4.0
342,GOVTPROG,Yes,3,4503,5782.296097,-1279.296097,283.036094,0.136373,3.0
348,GOVTPROG,Yes,6,1958,1171.012378,786.987622,528.900914,0.254837,1.0
358,GOVTPROG,Yes,11,1510,915.536842,594.463158,385.988230,0.185978,2.0
360,INCOME,<20k,0,4993,5923.665247,-930.665247,146.216534,0.043244,5.0
368,INCOME,<20k,2,5201,3688.294196,1512.705804,620.416574,0.183491,1.0
371,INCOME,>75k,2,4587,6441.501316,-1854.501316,533.908939,0.157906,3.0
404,INCOME,<20k,11,1627,895.198164,731.801836,598.229474,0.176929,2.0
407,INCOME,>75k,11,803,1563.438231,-760.438231,369.868340,0.109390,4.0
408,COUTYP4,Large Metro,0,12061,13698.888104,-1637.888104,195.831765,0.096790,3.0
410,COUTYP4,Nonmetro,0,7549,6014.219908,1534.780092,391.663419,0.193581,1.0
419,COUTYP4,Nonmetro,3,4845,5740.272113,-895.272113,139.629645,0.069012,5.0
432,COUTYP4,Large Metro,8,5338,4480.280876,857.719124,164.204459,0.081159,4.0
434,COUTYP4,Nonmetro,8,1268,1966.976753,-698.976753,248.385498,0.122765,2.0
444,AIIND102,Amer Ind Area,0,692,546.358340,145.641660,38.823409,0.161287,3.0
450,AIIND102,Amer Ind Area,3,352,521.471710,-169.471710,55.076162,0.228807,2.0
452,AIIND102,Amer Ind Area,4,58,99.654097,-41.654097,17.410863,0.072331,5.0
456,AIIND102,Amer Ind Area,6,185,105.606807,79.393193,59.686296,0.247959,1.0
466,AIIND102,Amer Ind Area,11,135,82.566952,52.433048,33.296912,0.138328,4.0
470,HEROIN_USE,Heroin User,1,58,791.460782,-733.460782,679.711151,0.017380,4.0
474,HEROIN_USE,Heroin User,3,3,656.050543,-653.050543,650.064261,0.016622,5.0
476,HEROIN_USE,Heroin User,4,554,125.372332,428.627668,1465.408466,0.037471,2.0
480,HEROIN_USE,Heroin User,6,2236,132.861288,2103.138712,33291.807659,0.851276,1.0
481,HEROIN_USE,Not Heroin User,6,3654,5757.138712,-2103.138712,768.297007,0.019645,3.0

In [18]:
# Print out top individual chi2 to output
print(topindchi2, file=f)
print(topindchi2.to_latex(index=False), file=f2)

# Close print files
f.close()
f2.close()

# Log runs to mlflow
experiment_name = "Chi-Square Analysis"
mlflow.set_experiment(experiment_name)

with mlflow.start_run():
    mlflow.log_param("n_clusters", n_clusters)
    mlflow.log_param("Observations", 'All')
    
    mlflow.log_artifact(jsonout)
    mlflow.log_artifact(csvout)
    mlflow.log_artifact(outfile)
    mlflow.log_artifact(outfile2)
   
    # End mlflow run
    mlflow.end_run()